h1 {
	color: orange;
	text-align: center;
	font-size: 165%;
	font-weight: normal;
}

header p {
	color: green;
}

header p span {
	color: blue;
}

.box-a {
	background-color: lightGray;
	padding: 30px;
	border: 3px solid black;
	margin-bottom: 20px;
	width: 250px;
	height: 150px;
	box-sizing: border-box;
}

.box-b {
	background-color: orange;
	width: 250px;
	height: 150px;
}

.highlight {
	background-color: yellow;
}

footer .highlight {
	background-color: lightGray;
}